{% extends 'layouts/base.twig' %}

{% block main_content %}
    <h1>{{ variant.title }}</h2>
    <div>
        <div>
            <p>${{ variant.price }}</p>
        </div>
        <p>{{ variant.description }}</p>
    </div>
    <h3>Other Variations</h3>
    <div class="variantGallery">
        {% for variant in variants %}
            <div class="variantChoice">
                <h3>{{variant.title}}</h3>
                <hr></hr>
                <p class="variantPrice">${{variant.price}}</p>
            </div>
        {% endfor %}
    </div>
    <p>
        <a href="/variants/{{ variant.productId }}/{{variant.slug}}/edit">Edit</a> | <a href="/variants/{{variant.id }}/delete">Delete</a>
    </p>
{% endblock %}
{% endblock %}