{% extends 'layouts/base.twig' %}

{% block main_content %}
    <h1>{{ product.title }}</h2>
    <div>
        <div>
            <img />
            <p>${{ product.price }}</p>
        </div>
        <p>{{ product.description }}</p>
    </div>
    <a href="/variants"><h3>Available Variations</h3></a>   
    <p>
        <a href="/products/{{ product.id }}/edit">Edit</a> | <a href="/products/{{ product.id }}/delete">Delete</a>
    </p>
{% endblock %}